/** latest tweet */
.news-detail .news-detail-img {
    float: left;
    width: 30%;
    height: 30%;
    height: 135px;
    margin-right: 10px;
    overflow: hidden;
    background: #ccc no-repeat center center;
    background-size: cover;

}

.list-image-news{
    margin-top: -10px;
    position: relative;
}


#influencer-mention-in-news {
    height: 200px;
    padding-top: 2px;
}

.panel .panel-body {
    padding: 5px 0;
}

.list-image-news .pict {

    float: left;
    margin-right: 5px;
    width: calc(20% - 5px);
    height: 65px;
    background: #eee no-repeat center center;
    background-size: cover;
    border: 1px solid #ccc;
    cursor: pointer;
  
}

.card-header {
    padding: 0.75rem 0.75rem;
    font-weight: bolder;
    color: #ff2e2e;
    margin-bottom: 0;
    background-color: #fefefe;
    border-bottom: 1px solid #cfd8dc;
}

.card-block {
    padding: 0.75rem;
}

.news-detail{
    height: 155px;
    overflow: hidden;
}

.colored-news-title {
    cursor: pointer;
}
.text-justify {
    text-align: justify !important;
}

strong {
    font-weight: bolder;
}

small, .small {
    font-size: 80%;
    font-weight: normal;
}

.text-muted {
    color: #b0bec5 !important;
}




