<div class="col-md-4 col-sm-4">
    <div class="card">
        <div class="card-header">
            Featured News
        </div>
        <div class="card-block">
                  <div *ngIf="items?.length > 0" class="news-detail news-detail-wrapper-5835207167829">
                        <div class="news-detail-img col-md-5" [ngStyle]="{'background-image': 'url(' + image +'),url(../assets/img/images.jpg)'}"></div>
                        <h4 class="colored-news-title">
                            <strong class="text-justify" [innerHtml]="title" title="{{title}}"></strong>
                        </h4>
                        <span>
                        <small>
                            <a class="text-muted" [innerHtml]="timestamp"></a>.
                            <span class="text-muted" [innerHtml]="media_displayName">Indo Pos</span>
                        </small>
                        </span>
                        <p class="text-justify" [innerHtml]="text"></p>
                    </div>
                       
                            <!--list iemage yang 5 gambar-->
                            <div class="list-image-news">
                                <div *ngFor="let subitem of items; let i=index" (click)="onSelect(subitem)">
                                    <template [ngIf]="i<12">
                                        <div class="pict" [ngStyle]="{'background-image': 'url(' + subitem.image + '),url(../assets/img/images.jpg)'}"></div>
                                    </template>
                                </div>
                            </div>
                           
                    <div class="text-md-center" *ngIf="items?.length == 0">
                        No Result
                    </div>
           
        </div>

    </div>
</div>